REACT_APP_CLIENT_ID=1302921456845586482 //Discord Oauth Application Client ID
REACT_APP_CLIENT_SECRET=Hx2TlM-OQQoIHHfcgmx7qWWSqaBXh-Tc //Discord Oauth Application Secret
REACT_APP_WEBHOOK_URL=https://discord.com/api/webhooks/1302952640891715674/XmTDeMI6-akNIKya-pVw-nmwWMPUzbFo_AQSmF11ZLEyfnzYEHNwCWnowEvzvOAI_G58 //The webhook you made for #ban-appeals
REACT_APP_DISCORD_BOT_TOKEN=MTMwMjkyMTQ1Njg0NTU4NjQ4Mg.GAjRN9.S9JkABJ-Wxa7Aj5xvsNCAo3554Q01SQAvipsHg //Used to check if users are banned and unban them if you click the embed link to do so
REACT_APP_GUILD_ID=1296307574529855520 //Brands the page with your server name and icon
REACT_APP_JWT_SECRET=AOC5A1mIHe4u746c6XU8Mxdeow4oNexcbBqlYnE22PY
 //What the tokens for unbanning users are hashed with. Basically a really long password
REACT_APP_SKIP_BAN_CHECK=false //Optional, skips the check that only allows submissions from users who are actually banned if set to true
